<footer class="footer">
  <div class="footer-bottom">
    <div class="container footer-bottom-container">
      <div class="lang-select">
        <span>🌐 Português</span>
      </div>

      <div class="footer-legal">
        <span>© 2026 Calculadora Master. Todos os direitos reservados</span>
        <a href="{{ROOT_PREFIX}}termos.html">Termos de Serviço</a>
        <a href="{{ROOT_PREFIX}}politica.html">Privacidade</a>
        <a href="{{ROOT_PREFIX}}politica.html" class="cm-cookie-manage">Cookies</a>
      </div>
    </div>
  </div>
</footer>
