<header class="header">
  <div class="container nav-container">
    <div class="logo">
      <a href="{{ROOT_PREFIX}}index.html">
        <img src="{{ROOT_PREFIX}}logo/logo.png" alt="Calculadora Master Logo" width="150" height="124">
      </a>
    </div>

    <div class="menu-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <nav class="nav" id="nav-menu">
      <ul>
        <li><a href="{{ROOT_PREFIX}}index.html">Home</a></li>
        <li><a href="{{ROOT_PREFIX}}sobre.html">Sobre</a></li>
        <li><a href="{{ROOT_PREFIX}}contato.html">Contato</a></li>
        <li><a href="{{ROOT_PREFIX}}blog/index.html">Blog</a></li>
      </ul>
    </nav>

    <div class="nav-actions">
      <a href="{{ROOT_PREFIX}}login.html" class="btn-login">Entrar</a>
      <a href="{{ROOT_PREFIX}}cadastro.html" class="btn-signup">Cadastrar-se</a>
    </div>
  </div>
</header>
